<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <%= flash[:error] %>
      <h1 class="text-center mt-3">新規ガジェット投稿</h1>
      <%= form_with model:@gadget, local:true do |f| %>
        <h4 class="mt-3">ガジェット名</h4>
        <%= f.text_field :name, class:"form-control", :placeholder => "ガジェット名をご入力ください" %>

        <h4 class="mt-3">ガジェット画像</h4>
        <%= attachment_image_tag @user, :image, :fill, 200, 200, fallback: "no_image.jpg"%></br>
        <%= f.attachment_field :image, placeholder: "ガジェット画像" %></p>

        <h4 class="mt-3">ガジェット紹介</h4>
        <%= f.text_area :text, rows:"4", class:"form-control", :placeholder => "紹介文を200文字以内でご入力ください" %>

        <div class="mt-4">
          <%= f.submit '編集', class:"btn btn-primary btn-block" %>
        </div>

      <% end %>
      <div class="text-center mt-2 mb-3">
        <%= link_to 'ガジェット一覧へ', gadgets_path, class:"btn-warning btn-block form-control" %>
      </div>
      <div class="text-center mt-2 mb-3">
        <%= link_to '削除', gadgets_path(@gadget), method: :delete, "data-confirm" => "本当に消しますか", class:"btn btn-danger btn-block form-contro" %>
      </div>
    </div>
  </div>
</div>