<div class="container" >
  <div class="row mt-4">
    <div class="col-12">
         <h1 class="text-center"><strong>〜マイページ〜</strong></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2 mt-2">
      <%= link_to "アカウント編集", edit_customer_path(@customer.id), class:"btn btn-success btn-block" %>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-12">
      <table class="table table-bordered">
        <tr class="text-center">
          <td colspan="3"><h3><strong>ユーザー情報</strong></h3></td>
        </tr>
        <tr class="text-center">
          <td colspan="3">
            <%= attachment_image_tag @customer, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %><br>
            <strong>アカウント名：</strong><%= @customer.name %>
          </td>
        </tr>
        <tr>
          <td class="col-6"><strong>好きな動画：</strong><%= @customer.original %></td>
          <td class="col-3 text-center"><%= link_to "お気に入り登録数： #{@customer.followings.count}", customer_followings_path(@customer.id), class:"btn btn-warning" %></td>
          <td class="col-3 text-center"><%= link_to "お気に入りされた登録数：#{@customer.followers.count}", customer_followers_path(@customer.id), class:"btn btn-warning" %></td>
        </tr>
        <tr class="inpressions">
          <td colspan="3"><strong>自己紹介：</strong><%= @customer.introduction %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <h3 class="text-center"><strong><%= @customer.name %>さんをお気に入りされたユーザー</strong></h3>
    </div>
  </div>
  
 <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <table class='table'>
        <% if @customers.exists? %>
          <thead>
            <tr class="text-center">
              <td>イメージ画像</td>
              <td>アカウント名</td>
              <td>お気に入り登録数</td>
              <td>お気に入りされた登録</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
              <tr class="text-center">
                <td class="text-center align-middle"><%= attachment_image_tag customer, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "no_image.jpg" %></td>
                <td class="text-center align-middle"><%= customer.name %></td>
                <td class="text-center align-middle">フォロー数: <%= customer.followings.count %></td>
                <td class="text-center align-middle">フォロワー数: <%= customer.followers.count %></td>
                <td class="text-center align-middle"><%= link_to '詳細', customer_path(customer.id), class:"btn btn-info" %></td>
              </tr>
            <% end %>
            </tbody>
        <% else %>
        <div class="text-center mt-4" style="font-size: 150%;">
          <p>ユーザーはいません</p>
        </div>
        <% end %>
      </table>
    </div>
    <div class="col-1"></div>
  </div> 
  
  <div class="row">
    <div class="my-3"><%= paginate @customers %></div>
  </div>
  
</div>